
/* Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
}

.progress-value{
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: #fecc77;
}

.container{
    width: 420px;
    background-color: #292a25;
    display: flex;
    justify-content: center;
    padding: 50px 0;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.circular-progress{
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background: conic-gradient(#fecc77 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-progress::before{
    content: '';
    position: absolute;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background-color: #292a25;
}
